.search-bar > input{
    background-color: #cec7ba;
    border: solid 1px #2b1b03 !important;
    color: #2a251d;
}

.filter-bar{
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
    border: solid 1px #2b1b03 !important;
    color: #2a251d;
  }
  